{
  "ColumnLimit": 140,
  "MaxEmptyLinesToKeep": 1,
  "KeepEmptyLinesAtTheStartOfBlocks": true,
  "PenaltyBreakComment": 300,
  "PenaltyBreakString": 1000,
  "PenaltyExcessCharacter": 1000000,
  "PenaltyBreakFirstLessLess": 120,
  "PenaltyBreakBeforeFirstCallParameter": 19,
  "PointerAlignment": "Left",
  "DerivePointerAlignment": false,
  "AccessModifierOffset": -2,
  "Standard": "Cpp11",
  "IndentCaseLabels": true,
  "IndentWrappedFunctionNames": false,
  "NamespaceIndentation": "All",
  "SpacesBeforeTrailingComments": 1,
  "BinPackParameters": true,
  "BinPackArguments": true,
  "ExperimentalAutoDetectBinPacking": false,
  "AllowAllParametersOfDeclarationOnNextLine": false,
  "PenaltyReturnTypeOnItsOwnLine": 200,
  "ConstructorInitializerAllOnOneLineOrOnePerLine": true,
  "BreakConstructorInitializersBeforeComma": true,
  "AllowShortBlocksOnASingleLine": false,
  "AllowShortIfStatementsOnASingleLine": false,
  "AllowShortLoopsOnASingleLine": false,
  "AllowShortCaseLabelsOnASingleLine": false,
  "AllowShortFunctionsOnASingleLine": "Empty",
  "AlignAfterOpenBracket": "Align",
  "AlignOperands": true,
  "AlignTrailingComments": true,
  "AlignConsecutiveAssignments": false,
  "AlignEscapedNewlinesLeft": false,
  "IndentWidth": 4,
  "TabWidth": 8,
  "ConstructorInitializerIndentWidth": 2,
  "AlwaysBreakAfterDefinitionReturnType": "None",
  "AlwaysBreakTemplateDeclarations": true,
  "AlwaysBreakBeforeMultilineStrings": false,
  "UseTab": "Never",
  "BreakBeforeBinaryOperators": "None",
  "BreakBeforeTernaryOperators": true,
  "BreakBeforeBraces": "Allman",
  "Cpp11BracedListStyle": true,
  "SpacesInParentheses": false,
  "SpacesInAngles": false,
  "SpacesInSquareBrackets": false,
  "SpaceInEmptyParentheses": false,
  "SpacesInCStyleCastParentheses": false,
  "SpaceAfterCStyleCast": false,
  "SpaceBeforeParens": "Never",
  "SpaceBeforeAssignmentOperators": true,
  "ContinuationIndentWidth": 2,
  "CommentPragmas": "^ IWYU pragma:",
  "DisableFormat": false,
  "ForEachMacros": [
    "foreach",
    "Q_FOREACH",
    "BOOST_FOREACH",
    "foreach",
    "Q_FOREACH",
    "BOOST_FOREACH"
  ]
}