[submodule "extern/StormLib"]
	path = extern/StormLib
	url = http://github.com/wheybags/StormLib.git
[submodule "extern/libRocket"]
	path = extern/libRocket
	url = http://github.com/wheybags/libRocket.git
