language: generic

branches:
  only:
  - master

sudo: false
dist: bionic
osx_image: xcode11.3 # macos 10.14 + xcode 11.3

addons:
  apt:
    packages:
      - python3-pip
      - libgl1-mesa-dev

matrix:
  include:
    - os: linux  
      env: JOB=build
    - os: linux
      env: JOB=clang-format
    - os: osx
      env: JOB=build

script: ./travis.sh
     
after_success:
- ./update-gh-pages.sh

notifications:
  recipients:
  - wheybags+travis.ci@wheybags.com
  email:
    on_success: change
    on_failure: always
